/JAO-TU-O-11-20/low-ai-assistent/__pycache__
.vscode/settings.json
/JA-MON-O-09-21/lekce/lekce-26-05-2025/prvniWeb/mojeaplikace/__pycache__
/JA-MON-O-09-21/lekce/lekce-26-05-2025/prvniWeb/mojeaplikace/migrations
/JA-MON-O-09-21/lekce/lekce-26-05-2025/prvniWeb/prvniWeb/__pycache__
