<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/callofduty">Call of Duty</a> | 
        <a href="/minecraft">Minecraft</a> |
        <a href="/gta5">GTA 5</a> |
        <a href="/batman">Batman</a> |
        <a href="/inception">Inception</a> |
        <a href="/avengers">Avengers</a>
    </nav>
    <h1>Avengers</h1>
</body>
</html>